body {
    font-family: 'Century Gothic', sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: left;

}

section {
    background: white;
    margin: 20px auto;
    padding: 70px;
    max-width: 1000px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    color: orange;
}

button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

p{
    color: black;
}
